/* Componente -> welcome-banner */
.content-text-banner {
    overflow-x: auto;
    white-space: nowrap;
    justify-content: center !important;
}
.text-banner {
    width: 40%;
    white-space: normal;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* Componente -> info-shop-home */
.section-info {
    background-color: #dfe0e0;
    padding: 22px;
}
.section-titulo {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.content-cuadros {
    display: grid;
    gap: 16px;
}
.cuadro {
    width: 237px;
    height: 324px;
    padding: 32px 5px;
    margin-bottom: 36px;
    border-radius: 8px;
    border-bottom: 8px solid #365569;
    background-color: #efeff0;
}
.cuadro img {
    display: inline;
    margin-bottom: 1.5rem;
}
.cuadro-titulo {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cuadro-text {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Componenete home --> product-card */
.contenedor-producto {
    display: grid;
    justify-self: center;
    place-items: center;
    background-color: #efeff0;
    width: 330px;
    padding: 38px;
    align-items: center;
    gap: 32px;
    border-radius: 15px;
    border-bottom: 8px solid #ffa74d;
}
.pc-btn-compra {
    width: min-content;
    height: auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #ffa74d;
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* md: en tailwind  ----  Version tablet */
@media (min-width: 768px) {
    /* Componente -> welcome-banner */
    .content-text-banner {
        flex-direction: column;
        align-items: center;
    }
    .text-banner {
        font-size: 16px;
    }
    /* Componente -> info-shop-home */
    .content-cuadros {
        grid-template-columns: 1fr 1fr;
    }
    .cuadro:nth-child(3) {
        grid-column: span 2;
    }
    .section-titulo {
        font-size: 36px;
    }
}

/* xl: en tailwind ----  Version desktop */
@media (min-width: 1280px) {
    /* Componente -> welcome-banner */
    .content-text-banner {
        flex-direction: row;
    }
    .text-banner {
        width: 30%;
        font-size: 18px;
    }
    .titulo-welcome-banner {
        font-size: 56px;
        line-height: 30px;
        margin-bottom: 66px;
    }
    /* Componente -> info-shop-home */
    .section-info {
        min-height: 540px;
        align-content: center;
    }
    .section-titulo {
        margin-bottom: 42px;
    }
    .content-cuadros {
        padding-left: 25%;
        padding-right: 25%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .cuadro:nth-child(3) {
        grid-column: auto;
    }
    /* Componenete --> home  */
    .hcont-orden {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 6rem;
    }
    /* Componenete home --> product-card */
    .contenedor-producto {
        width: 300px;
    }
    .contenedor-producto:nth-child(4){
        grid-column: auto;
    }
}

/* --------------------
   sm: en tailwind
@media (min-width: 640px) {
}
   md: en tailwind
@media (min-width: 768px) {
}
   lg: en tailwind
@media (min-width: 1024px) {
}
   xl: en tailwind
@media (min-width: 1280px) {
}
 ----------------------- */
